html {
    height: 100%;
    margin: 0;
    > body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        background: coral;
    }
}
.site-header {
    display: block;
    background: royalblue;
    > .search-bar {
        background: pink;
        display: inline;
        margin: 10px;
        > input {
            width: 60%;
        }
        > a {
            display: inline;
        }
    }
    > .logo {
        display: inline;
    }
    > nav {
        background: pink;
        align-content: center;
        display: block;
        > ul {
            list-style: none;
            text-align: center;
            > li {
                margin: 0px 20px;
                display: inline-block;
            }
        }
    }
    > aside {
        width: 100px;
        float: right;
        > button {
            margin: 20px;
            display: block;
        }
    }
}
.site-main {
    > .products {
        background: blue;
        > ul {
            list-style: none;
            text-align: center;
            > li {
                margin: 0px 20px;
                display: inline-block;
                > .product-summary {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    background: gray;
                    min-width: 300px;
                    width: 200px;
                    height: 400px;
                    > .product-image {
                        background: rebeccapurple;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 10px;
                        width: 180px;
                        height: 300px;
                        position: relative;
                        > img {
                            max-height: 100%;
                            max-width: 100%;
                            width: auto;
                            height: auto;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                    }
                    > h5 {
                        margin-bottom: 10px;
                    }
                    > span {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    > .product-details {
        background: paleturquoise;
        height: 400px;
        > .product-image {
            float: left;
            background: rebeccapurple;
            margin-left: 10px;
            margin-right: 20px;
            width: 200px;
            height: 400px;
            position: relative;
            > img {
                max-height: 100%;
                max-width: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        > .product-parameters {
            float: left;
            max-width: 400px;
            > .product-description {
                background: yellow;
                > p {
                    display: inline;
                    word-break: break-all;
                }
            }
            > .product-size {
                display: block;
            }
            > .product-count {
                display: block;
            }
        }
        > .add-to-cart {
            float: right;
            background: rebeccapurple;
            margin-left: 20px;
            margin-right: 10px;
            width: 150px;
            height: 400px;
            position: relative;
            > button {
                display: block;
                margin-top: auto;
            }
        }
    }
}
.site-footer {
    background: brown;
    height: 100px;
    margin-top: auto;
}