html {
  height: 100%;
  margin: 0;
}
html > body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: coral;
}

.site-header {
  display: block;
  background: royalblue;
}
.site-header__search-bar {
  background: pink;
  display: inline;
  margin: 10px;
}
.site-header__search-bar > input {
  width: 60%;
}
.site-header__search-bar > a {
  display: inline;
}
.site-header__logo {
  display: inline;
}
.site-header__menu {
  background: pink;
  align-content: center;
  display: block;
}
.site-header__menu > ul {
  list-style: none;
  text-align: center;
}
.site-header__menu > ul > li {
  margin: 0px 20px;
  display: inline-block;
}
.site-header__sidebox {
  width: 100px;
  float: right;
}
.site-header__sidebox > button {
  margin: 20px;
  display: block;
}

.site-main__articlebox__product__summary-box {
  background: blue;
}
.site-main__articlebox__product__summary-box__ul {
  list-style: none;
  text-align: center;
}
.site-main__articlebox__product__summary-box__ul__li {
  margin: 0px 20px;
  display: inline-block;
}
.site-main__articlebox__product__summary-box__ul__li__summary {
  margin: 0;
  display: flex;
  flex-direction: column;
  background: gray;
  min-width: 300px;
  width: 200px;
  height: 400px;
}
.site-main__articlebox__product__summary-box__ul__li__summary__image {
  background: rebeccapurple;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 180px;
  height: 300px;
  position: relative;
}
.site-main__articlebox__product__summary-box__ul__li__summary__image > img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.site-main__articlebox__product__summary-box__ul__li__summary > h5 {
  margin-bottom: 10px;
}
.site-main__articlebox__product__summary-box__ul__li__summary > span {
  margin-bottom: 10px;
}
.site-main__articlebox__product__details {
  background: paleturquoise;
  height: 400px;
}
.site-main__articlebox__product__details__image {
  float: left;
  background: rebeccapurple;
  margin-left: 10px;
  margin-right: 20px;
  width: 200px;
  height: 400px;
  position: relative;
}
.site-main__articlebox__product__details__image > img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.site-main__articlebox__product__details__parameters {
  float: left;
  max-width: 400px;
}
.site-main__articlebox__product__details__parameters__description {
  background: yellow;
}
.site-main__articlebox__product__details__parameters__description > p {
  display: inline;
  word-break: break-all;
}
.site-main__articlebox__product__details__parameters__size {
  display: block;
}
.site-main__articlebox__product__details__parameters__count {
  display: block;
}
.site-main__articlebox__product__details__add-to-cart {
  float: right;
  background: rebeccapurple;
  margin-left: 20px;
  margin-right: 10px;
  width: 150px;
  height: 400px;
  position: relative;
}
.site-main__articlebox__product__details__add-to-cart > button {
  display: block;
  margin-top: auto;
}

.site-footer {
  background: brown;
  height: 100px;
  margin-top: auto;
}
.site-footer__ul {
  background: pink;
  list-style: none;
  text-align: center;
}
.site-footer__ul__li {
  margin: 0px 20px;
  display: inline-block;
  background: red;
  width: 30%;
}
.site-footer__ul__li__contact {
  background: yellowgreen;
}
.site-footer__ul__li__payment {
  background: rebeccapurple;
}
.site-footer__ul__li__company {
  background: powderblue;
}

/*# sourceMappingURL=main.css.map */
